@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* start navbar style */

.scrolled {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
}
.slidebar-nav.active {
  @apply fixed left-0;
}

.box-slidebar {
  @apply w-full p-4 bg-gray-100 rounded-md;
}
